h1, h2 {
  text-align: center;
}
body, form *, [btn] {
  font-family: 'Baloo Chettan', cursive;
}
h2 small {
  font-size: 1.5rem;
}

body.image #aimage {
  color: blueviolet;
  border-color: blueviolet;
}
body.container #acontainer {
  color: blueviolet;
  border-color: blueviolet;
}
body.os #aos {
  color: blueviolet;
  border-color: blueviolet;
}

[err] {
  color: darkred;
}
#stderr {
  border-left-color: red;
  color: darkred;
}


table {
  margin-top: 4rem;
}
table:not([class]) > caption {
  font-weight: bolder;
  font-size: 2rem;
}
table:not([class]) pre {
  margin: 0;
  font-weight: bold;
  font-size: 1.4rem;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
