h1, h2 {
  text-align: center;
}

body, form * {
  font-family: 'Baloo Chettan', cursive;
}
body section {
  display: none;
}
body.slist #slist {
  display: block;
}
body.spost #spost {
  display: block;
}
body.sdata #sdata {
  display: block;
}
body.plist #plist {
  display: block;
}
body.pdata #pdata {
  display: block;
}
body.ptop #ptop {
  display: block;
}
body.exec #exec {
  display: block;
}
body.os #os {
  display: block;
}
body.slist #a_service {
  color: blueviolet;
  border-color: blueviolet;
}
body.plist #a_process {
  color: blueviolet;
  border-color: blueviolet;
}
body.exec #a_exec {
  color: blueviolet;
  border-color: blueviolet;
}
body.os #a_os {
  color: blueviolet;
  border-color: blueviolet;
}

#exec_stderr {
  border-left-color: darkorange;
}


table {
  margin-top: 4rem;
}
table:not([class]) > caption {
  font-weight: bolder;
  font-size: 2rem;
}
table:not([class]) pre {
  margin: 0;
  font-weight: bold;
  font-size: 1.4rem;
}
