h1, h2 {
  text-align: center;
}

body, form * {
  font-family: 'Baloo Chettan', cursive;
}
body.service #aservice {
  color: blueviolet;
  border-color: blueviolet;
}
body.process #aprocess {
  color: blueviolet;
  border-color: blueviolet;
}

[err] {
  color: darkred;
}
#stderr {
  border-left-color: red;
  color: darkred;
}


table {
  margin-top: 4rem;
}
table:not([class]) > caption {
  font-weight: bolder;
  font-size: 2rem;
}
table:not([class]) pre {
  margin: 0;
  font-weight: bold;
  font-size: 1.4rem;
}
